name: Frontend Android Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (release)
        run: flutter build apk --release --android-skip-build-dependency-validation

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: eleague-app-release
          path: frontend/build/app/outputs/flutter-apk/app-release.apk
