name: Flutter Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Build APK
        run: |
          flutter pub get
          # Skip strict validation to bypass the variant crash
          flutter build apk --debug --android-skip-build-dependency-validation
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: eleague-app-debug
          path: build/app/outputs/flutter-apk/app-debug.apk
